.box-status{
  background-color: hsl(185, 100%, 90%);
  /* backgroundColor:'*/
  border-radius: 20px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
  height: 150px;
  align-items: center;
  transition: all 0.3s ease; /* <-- thêm dòng này */
 
}
.box-status_1{
  background-color: 	rgb(209, 247, 221);
  border-radius: 20px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  
  font-weight: bold;
  color: black;
  text-align: center;
  /* width: 170px; */
  height: 150px;
  /* padding: '10x 10px'; */
  /* align-items: center; */
  transition: all 0.3s ease; /* <-- thêm dòng này */
  }
.box-status_2{
  background-color: rgba(131, 218, 218, 1);
  border-radius: 20px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  
  font-weight: bold;
  color: black;
  text-align: center;
  /* width: 170px; */
  height: 150px;
  /* padding: '10x 10px'; */
  /* align-items: center; */
  transition: all 0.3s ease; /* <-- thêm dòng này */
  }


.box-status_1:hover{
  background-color: hsl(187, 100%, 50%);
  color: hsl(147, 82%, 47%);
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.box-status:hover{
  background-color: hsl(187, 100%, 50%);
  color: hsl(147, 82%, 47%);
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.box-status_2:hover{
  background-color: hsl(187, 100%, 50%);
  color: hsl(0, 0%, 50%);
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.chart_box:hover{
  background-color: hsl(187, 100%, 50%);
  color: hsl(0, 0%, 50%);
}
.text_display{
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: hsl(357, 81%, 35%);
  text-align: center;
}
.text_display_top{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding: 20px; 
  border: 1px solid black;
  margin-top: 20px;
  
  /* text-align:center; */
  /* background-color: azure; */
  
}
.text_display_tren{
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: hsl(234, 100%, 50%);
  text-align: left;
  padding: 15px 10px;
}
.box_list{
  font-family: Arial, sans-serif;
  background-color: hsl(108, 94%, 80%);
  font-size: 13px;
  margin-left: 70px;
  margin-top: 50px;
  margin-right: 25px;
  border-radius: 15px;
  cursor: pointer;
  /* word-wrap: break-word;
  word-break: break-word;   <-- thêm dòng này để hiệu quả hơn */
  /* white-space: normal; */ 
}
.box_list_bound{
  font-family: Arial, sans-serif;
  background-color: hsl(249, 100%, 50%);
  border-radius: 10px;
}
.bang_apn {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.bang_apn th,
.bang_apn td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  word-wrap: break-word;
  white-space: normal;
}
.box_trai_zone2{
  background-color: hsla(208, 100%, 97%, 0.514);
  justify-content: center;   /* Căn giữa theo chiều dọc */
  align-items: center;       /* Căn giữa theo chiều ngang */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Viền mờ nhẹ */
  border-radius: 10px;
  cursor: pointer;
}
.box_trai_zone2:hover{
  background-color: hsl(185, 50%, 91%);
}
.box_phai_zone2{
  background-color: hsl(45, 100%, 88%);
  border-radius: 10px;
}
.box_phai_zone2:hover{
  background-color: hsl(157, 87%, 70%);
}
.tieu_de{
    position: sticky;
    text-align: center;           /* Căn giữa theo chiều ngang */
    vertical-align: middle;       /* Căn giữa theo chiều dọc */
    padding: 8px;
    font-size: 15px;
    height: 100%;                 /* Đảm bảo chiều cao đầy đủ */
    line-height: 1.4;             /* Căn chỉnh dòng cho dễ nhìn */
    background-color: #dcf5ff;  /* Nên có màu nền để không bị trong suốt */
    top: 0;                          /* ⭐ Cố định hàng tiêu đề khi cuộn */
     z-index: 2;                      /* ⭐ Giúp tiêu đề nổi lên trên */
}
/* .tieu_de:hover{
  color: #450c7a;
  background-color: aqua;
} */
.du_lieu:hover{
  background-color: aqua;
}
.text-type{
  font-weight: bold;
  color: #0c0c7a;
  font-size: 13px;
  line-height: 1.2;
  padding: 5px 5px;
}

.number-type{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}
.so_chinh{
  font-size: 45px;
  text-align: center;
  color: rgb(43, 92, 226);
  margin-left: 15px;
  /* margin-top: 10px; */
}
.phan_tram {
  font-size: 16px;
  color: #4b5563;
}
.tieu_de{
   cursor: pointer;
  user-select: none;
  white-space: nowrap;
}
.container_doi_soat{
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* 3 cột bằng nhau */
  gap: 20px;                               /* Khoảng cách giữa các box */
  padding: 20px;
  background-color: #fff8dc;
  border-radius: 10px;
}
.nut_bam{
  padding: 5px 5px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  /* font-weight: bold; */
  background-color: aliceblue;
   transition: 0.3s;
}
.nut_bam:hover{
  /* background-color: hsl(172, 88%, 74%); */
  cursor: pointer;
  background-color: #d0e7ff;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.nut_bam.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}
.box_trai_zone1{
  background-color: hsl(0, 23%, 91%);
  border-radius: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.cell_spec{
    transition: all 0.3s ease; /* <-- thêm dòng này */
    cursor: pointer;
}
.cell_spec:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.box_phai_zone1{
  background-color: hsl(186, 22%, 91%);
  border-radius: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.container mt-4{
  border: #9999db;
}
